/* DEMO GENERAL ============================== */
.hover {
  overflow: hidden;
  position: relative;
  padding-bottom: 60%;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,.50);
 


}

.hover-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 90;
  transition: all 0.4s;
}

.hover img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all 0.3s;
}

.hover-content {
  position: relative;
  z-index: 99;
}


/* DEMO 1 ============================== */
.hover-1 {
    overflow: hidden;
  position: relative;
  padding-bottom: 60%;
  box-shadow: 0 .5rem 1rem rgba(0,0,0,0.50);
  height: 200px;}




.hover-1 img {
   height: 100%;
  width: 105%;
  position: absolute;
  top: 0;
  left: -5%;
  transition: all 0.3s;
}

.hover-1-content {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 99;
  transition: all 0.4s;
}

.sp {
  transition: all 0.4s;
  opacity: 0;
  color: #f9a602;
  font-size: 20px;
  background: rgb(0,0,0,0);
}

.hover-1-description {
  transform: translateY(0.5rem);
  transition: all 0.4s;
  opacity: 0;

}

.hover-1:hover .hover-1-content {
  bottom: 2rem;
  color: #fff;
}

.hover-1:hover .hover-1-description {
  opacity: 1;
  transform: none;
}

.hover-1:hover img {
  left: 0;
}

.hover-1:hover .hover-overlay {
 background: rgba(0, 0, 0, 0.2);
}
.hover-1:hover .sp {
  opacity: 1;
   background: rgba(0, 0, 0, 40);
   bos
}






/* DEMO 5 ============================== */

.hover-5{
    border-radius: 5px;

}
.hover-5::after {

  content: '';
  width: 100%;
  height: 15px;
  background: #f9a602;
  position: absolute;
  bottom: -10px;
  left: 0;
  display: block;
  transition: all 0.3s;
  z-index: 999;
}

.hover-5 .hover-overlay {
  background: rgba(0, 0, 0, 0);

}

.hover-5-title {
  position: absolute;
  bottom: 1rem;
  left: 0;
  transition: all 0.3s;
  padding: 2rem 3rem;
  z-index: 99;
}

.hover-5-title span {
  transition: all 0.4s;
  opacity: 0;
  color: #f9a602;
}

.hover-5:hover .hover-overlay {
  background: rgba(0, 0, 0, 0.3);
}

.hover-5:hover .hover-5-title {
  bottom: 0;
}

.hover-5:hover .hover-5-title span {
  opacity: 1;
}

.hover-5:hover::after {
  bottom: 0;
}
@media screen and (max-width: 576px) {


  .col-12{
    padding: 0;
  }


    

}




.boxx{
    padding:60px 0px;
    }

    /* DEMO 4 ============================== */
.hover-4 {
  height: 280px;
}
.hover-4 img {
  width: 110%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.hover-4 .hover-overlay {
  background: rgba(0, 0, 0, 0);
  z-index: 90;
}

.hover-4-title {
  position: absolute;
  bottom: 0;
  right: 0;
padding: 3rem;
padding-right: 1rem;
  z-index: 99;
  font-size:20px;
    transition: all 0.3s;


}

.hover-4-description {
  position: absolute;
  top: 2rem;
  left: 0rem;
  text-align: right;
  border-right: 2px solid #fff;
  padding:1px 5px;
  z-index: 99;
  transform: translateX(-1.5rem);
  opacity: 0;
  transition: all 0.3s;

  letter-spacing: 2px;



}
.hover-4:hover .hover-4-title {
  padding: 3rem;
  padding-right: 1rem;
  font-size: 17px;
  
}

@media (min-width: 992px) {
  .hover-4-description {
    width: 50%;
  }
}

.hover-4:hover img {
  width: 100%;
}

.hover-4:hover::after {
  opacity: 1;
  transform: none;
}

.hover-4:hover .hover-4-description {
  opacity: 1;
  transform: none;
}

.hover-4:hover .hover-overlay {
  background: rgba(0, 0, 0, 0.8);
}
}

