
            .center {

            display: flex;
            margin: 50px;
              height: 320px;
              width:810px;
              background: #fff;
              border-radius: 3px;
              border:solid; 
              overflow: hidden;
              box-shadow: 10px 10px 15px 0 rgba(0, 0, 0, 0.3);
            }

            .profile {
              float: left;
              width: 540px;
              height: 320px;
              text-align: center;
            }
            .profile .image {
              position: relative;
              width: 70px;
              height: 70px;
              margin: 10px auto 0 auto;
            }

            .profile .name {
            	color: #093852;
              font-size: 20px;
              font-weight: 700;
              margin-top: 10px;
              color: #093852;
            }
            .profile .comp {
            	color: #365390;
            font-weight: 700;
              font-size: 14px;
              line-height: 15px;
            }
            .profile .actions {
              margin-top: 30px;
              margin-left: 10px;
            }


            .stats {
              float: left;
            }
            .stats .box {
              box-sizing: border-box;
              width: 220px;
              height: 330px;
            border-left: dotted;
              text-align: center;
              padding-top: 10px;

            }
              label{
              	margin-bottom: 0;
              }
          